<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/warrior.png" alt="warrior logo" /></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <div id="warriorOne" data-id="{{warriorOne}}"></div>
  <div id="warriorTwo" data-id="{{warriorTwo}}"></div>

  <section id="app">

  </section>
  <div class="bannerAd">Banner Ad Space</div>
  <script src="/assets/battleBundle.js"></script>
</body>

</html>