html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 65px;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #ee5555;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: underline;
    padding: 5px;
    background-color: #55acee00;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #ee5555;
}

#title {
  text-align: center;
  padding-top: 50px;
}

.warriorForm {
    border: 2px solid #ff4a56;
    height: 80px;
    width: 650px;
    margin-top:0px;
    padding-top:10px;
    background-color: #ee5555;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.warriorForm label {
    display: inline-block;
    width: 90px;
    margin-left: 10px;
    font-size: 1.2em;
    color: white;
}

.warriorForm input[type=text] {
}

.makeWarriorSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #ee5555;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.makeWarriorSubmit:link, .makeWarriorSubmit:visited, .makeWarriorSubmit:hover, .makeWarriorSubmit:active {
    color: white;
}

.makeWarriorSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #ff4a56;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #ee5555;
    border-radius: 2px;
    border-color: #ff4a56;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #ee5555;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #ee5555;
}

.hidden {
    display: none;
}

#warriorMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#warriorMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#warrior {
    z-index: 225;
    margin-top: -110px;
    height: 450px;
    width: 550px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#warriors {
    width: 48%;
    min-width: 400px;
    border: 2px solid #ee5555;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.warrior {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #ee5555;
    border-radius: 4px;
    background-color: #ee5555;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.warrior:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #f76868;
}

img.warriorSprite {
    margin-left: 25px;
    margin-right: 10px;
    height: 75px;
    width: 100px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyWarrior {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.warriorName {
    float:left;
    width: 350px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.8em;
}

h3.warriorStrength {
    float: left;
    text-align: left;
    width: 120px;
    font-weight: bold;
    padding-right: 20px;
    font-size: 1.4em;
}

h3.warriorMagic {
  float: left;
  text-align: left;
  width: 100px;
  font-weight: bold;
  padding-right: 20px;
  font-size: 1.4em;
}

h3.warriorSpeed {
  float: left;
  text-align: left;
  width: 100px;
  font-weight: bold;
  padding-right: 20px;
  font-size: 1.4em;
}

h3.warriorResistance {
  float: left;
  text-align: left;
  width: 130px;
  font-weight: bold;
  padding-right: 20px;
  font-size: 1.4em;
}

h3.warriorDefense {
  float: left;
  text-align: left;
  width: 100px;
  font-weight: bold;
  padding-right: 20px;
  font-size: 1.4em;
}

.warrior:first-child {
    margin-top: 10px;
}

.warrior:last-child {
    margin-bottom:10px;
}

.warriorLists h2 {
  text-align: center;
  width: 25rem;
}